@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.main-text {
    font-family: 'Oswald', sans-serif;
}

.project-summary {
    padding: 12px 30px;
    margin: 20px;
}

.team-summary {
    padding: 12px;
    margin: 0px 20px;
}

.mb-3 {
    padding: 20px 50px;
    font-size: 32px;
}

.mb-5 {
    margin: 0px 30px;
    font-size: 18px;
    padding: 15px;
}